## Chapter.10 LAB
* 람다 함수와 리스트 축약

<b>람다 함수</b>
* 람다 함수 lambda function : 1회용 간단한 함수를 만드는 것
* 람다 표현식 lambda expression, anonymous function
def add(x,y): return x + y
add = lambda x, y : x+y

In [5]:
# lambda 연습
add = lambda x, y : x+y
print('100과 200의 합 : ',add(100,200))
print('100과 200의 합 : ', (lambda x,y:x+y)(100,200))

100과 200의 합 :  300
100과 200의 합 :  300

### LAB 10-1
* filter function
* filter( function, list )

In [6]:
def sub(x,y):
    return x-y
print('200 - 100 =', sub(200,100))
sub = lambda x,y:x-y
print('200 - 100 =', sub(200,100))

200 - 100 = 100
200 - 100 = 100

In [2]:
# list 중 fuction 결과 true 인 것만 루프 실행 false라면 continue
def adult_func(x):
    if x >= 19:
        return True
    else:
        return False

ages = [34,39,20,18,13,54]
# nomal function
for a in filter (adult_func, ages):
    print(a, end=' ')

# filter + lambda
print('\n성년 리스트 :')
for a in filter(lambda x:x >= 19, ages):
    print(a, end=' ')

34 39 20 54
성년 리스트 :
34 39 20 54

In [5]:
# filter + lambda 음수 값 추출
# (1) normal function
def minus_func(x):
    if x < 0:
        return True
    else:
        return False

n_list = [-30, 45, -5, -90, 20, 53, 77, -36]
for a in filter(minus_func, n_list):
    print(a, end=' ')
print()
# (2) lambda function
for a in filter(lambda x:x<0, n_list):
    print(a, end=' ')
print()
# (3) 바로 list에 넣기
minus_list = list(filter(lambda x:x<0, n_list))
print(minus_list)

-30 -5 -90 -36
-30 -5 -90 -36
[-30, -5, -90, -36]

### LAB 10-2

In [11]:
#1. 짝수 필터링
n_list = [1,2,3,4,5,6,7,8,9,10]
#1-1) 빈 리스트에 추가
even_list = []
for a in filter(lambda x:x%2==0, n_list):
    even_list.append(a)
print(even_list)
#1-2) filter() 함수가 반환하는 객체를 list() 객체로 만들어 할당
even_list=list(filter(lambda x:x%2==0, n_list))
print(even_list)

#2. 홀수 필터링
#2-1) 빈 리스트에 append()로 추가
odd_list = []
for a in filter(lambda x:x%2==1, n_list):
    odd_list.append(a)
print(odd_list)
#2-2) filter() 함수가 반환하는 객체를 list객체로 변환해 할당
odd_list=list(filter(lambda x:x%2==1, n_list))
print(odd_list)

[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]
[1, 3, 5, 7, 9]

### LAB 10-3
* map function
* map( apply_function, iter_list )

In [7]:
# square
def square(x):
    return x**2

# map + function
a = [1,2,3,4,5,6,7]
square_a = list(map(square, a))
print(square_a)

# map + lambda
square_b = list(map(lambda x:x**2, a))
print(square_b)

[1, 4, 9, 16, 25, 36, 49]
[1, 4, 9, 16, 25, 36, 49]

In [8]:
#1. 소문자->대문자
#1-1) to_upper() 함수를 정의해 변환
upper_a_list = ['a','b','c','d']
def to_upper(a):
    return a.upper()
print(list(map(to_upper, upper_a_list)))
#1-2)
print(list(map(lambda x:x.upper(),upper_a_list)))

#2. 두배, 세배로 뻥튀기
#2-1) twice()와 triple() 이림의 함수를 만들어 2배와 3배를 반환
n_list = [10,20,30]
# def twice(list):
#     return [ 2*a for a in list ]
# def triple(list):
#     return [ 3*a for a in list ]
def twice(a): return 2*a
def triple(a): return 3*a
print(list(map(twice,n_list)))
print(list(map(triple,n_list)))
#2-2) lambda 함수로 고쳐서 간결하게 변환
print(list(map(lambda x:x*2,n_list)))
print(list(map(lambda x:x*3,n_list)))

['A', 'B', 'C', 'D']
['A', 'B', 'C', 'D']
[20, 40, 60]
[30, 60, 90]
[20, 40, 60]
[30, 60, 90]

* <h4>람다 함수의 장점과 단점</h4>
<hr> </hr>
** 장점 : 축약 표현이 가능하기 때문에 코드가 간결해 진다. 일반 함수의 경우 재사용을 위해 이름과 이 메모리 공간의 할당이 필요하지만 람다 함수는 메모리 공간을 별도로 할당하지 않기 때문에 메모리를 절약할 수 있다.
<br>즉, 람다 함수는 사용후 힙 메모리에서 사라진다. <br><br>
** 단점 : lambda 선언문 뒤에 쉼표와 콜론 수식으로 구성되어 가독성이 떨어진다. 다른 매개변수와 시각적인 구분이 모호해지고 이해하기 어렵다.

### LAB 10-4
- <b>기말, reduce, map, lambda, list comprehension 변환나온다. 조금 더 복잡하게</b>
- reduce function : 재귀함수와 비슷.
- reduce( function(x,y), iter_list ) : 리스트 원소 하나씩[a,b,c,...] func(x,y)을 적용(x=a, y=b)하고 적용한 것이 다시 func의 매개변수(func((a,b), c))로 들어감.
- from functolls import reduce

In [10]:
from functools import reduce

#1. reduce() 함수를 사용해 1에서 100까지 정수의 합을 구하라.
n = reduce(lambda x,y:x+y, range(1,101))
print('1에서 100까지의 합: ',n)

#2. reduce() 함수를 사용하여 10!을 구하여라
n = reduce(lambda x,y: x*y, range(1,11))
print('10! = ',n)

1에서 100까지의 합:  5050
10! =  3628800

In [13]:
a = [1,2,3,4]
print(reduce(lambda x,y:x+y, a))    # (((1+2)+3)+4) = 10
print(reduce(lambda x,y:x*y, a))    # (((1*2)*3)*4) = 24 = 4!

10
24

### LAB 10-5
- list comprehension
- [{표현식} for {변수} in {반복자/연속열} if {조건 표현식}]

In [28]:
#1. 세제곱 값을 가지는 리스트 cubic
cubic = [i**3 for i in range(1,11)]
print('cubic =',cubic)

#2. 리스트로부터 첫 알파벳을 추출한 first_a 리스트 생성
a = ['welcome', 'to','the','python','world' ]
first_a =[n[0] for n in a]
print('a =',a)
print('first_a =', first_a)

cubic = [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
a = ['welcome', 'to', 'the', 'python', 'world']
first_a = ['w', 't', 't', 'p', 'w']

In [16]:
n_list = list(range(1,8))
# map + lambda
print(list(map(lambda x:x**2, n_list)))
# list_comprehension
print([a**2 for a in n_list])
# list_comprehension + range()
print([a**2 for a in range(1,8)])

[1, 4, 9, 16, 25, 36, 49]
[1, 4, 9, 16, 25, 36, 49]
[1, 4, 9, 16, 25, 36, 49]

In [20]:
st = 'Hello World'
print(st.upper())
print(''.join([x.upper() for x in st]))

HELLO WORLD
HELLO WORLD

In [24]:
# filter vs list_comprehension's condition
ages = [34,39,20,18,13,54]
print(list(filter(lambda x:x>20, ages)))
print([a for a in ages if a>20 ])
print()
n_list = [-30, 45, -5, -90, 20, 53, 77, -36]
print(list(filter(lambda x:x<0, n_list)))
print([a for a in n_list if a<0])

[34, 39, 54]
[34, 39, 54]

[-30, -5, -90, -36]
[-30, -5, -90, -36]

In [34]:
# 예제
print([x for x in range(10)])
print([x*x for x in range(10)])
print([x for x in range(10) if x%2 == 0])
print([x for x in range(10) if x%2 == 1])
print([x*x for x in range(10) if x%2 == 0])
print([x*x for x in range(10) if x%2 == 1])

# str to integer with list_comprehension
print([int(x) for x in input('정수를 여러개 입력하세요 :').split()])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]
[0, 4, 16, 36, 64]
[1, 9, 25, 49, 81]
[1, 49, 2]

### LAB 10-6
- iterator : 하나 이상의 항목이 포함되어 있느 자료구조에서 데이터를 순차적으로 꺼내어 이용할 수 있는 객체

In [33]:
#1. 세제곱 값 중에서 500 이하인 값만 가진 리스트 생성
cubic = [a**3 for a in range(1,11) if a**3<=500]
print(cubic)

#2. 문자열에서 숫자 추출
st = 'Hello 1234 Python'
print([a for a in st if a.isdigit()])

#2-1. isdigit() 없이 추출하기
list_digit = []
for a in st:
    try:
        int(a)
    except ValueError:
        pass
    else:
        list_digit.append(a)
print(list_digit)

[1, 8, 27, 64, 125, 216, 343]
['1', '2', '3', '4']
['1', '2', '3', '4']

In [35]:
# 이중 for loop
product_xy = [x*y for x in [1,2,3] for y in [2,4,6]]
print(product_xy)

[2, 4, 6, 4, 8, 12, 6, 12, 18]

In [25]:
# 2와 3의 공배수 구하기
print([n for n in range(1,31) if n%2 ==0 and n%3==0])
print([n for n in range(1,31) if n%2 ==0 if n%3==0])

[6, 12, 18, 24, 30]
[6, 12, 18, 24, 30]

### LAB 10-7 
- 반복자 클래스 정의 문제
- 짝수?
- 피보나치 수열?

In [40]:
class OddCounter:
    def __init__(self, n=1):
        self.n = n
    def __iter__(self):
        return self
    def __next__(self):
        if self.n < 20:
            t = self.n
            self.n += 2
            return t
        raise StopIteration

my_count = OddCounter()
for x in my_count:
    if x > 20:
        break
    print(x,end=' ')

1 3 5 7 9 11 13 15 17 19

In [52]:
# 피보나치 수열 카운터 클래스
class fiboCounter:
    def __init__(self, n=1):
        self.pre = 1
        self.cur = n
        self.num = 1
    def __iter__(self):
        return self
    def __next__(self):
        if self.num==1 or self.num==2:
            self.num +=1
            return 1
        else:
            t = self.pre + self.cur
            self.pre = self.cur
            self.cur = t
            self.num +=1
            return t
fibo = fiboCounter()
for x in fibo:
    if x > 20:
        break
    print(x,end=' ')

1 1 2 3 5 8 13

### LAB 10-8

In [53]:
# 1
txt = 'Welcome to Busan Metropolitan City'
print(txt.split())

#2
greet = 'Hello,My name is DongMin,Good to see you again'
print(greet.split(','))

#3
fruits = 'Apple|Banana|Melon|Orange'
print(fruits.split('|'))

['Welcome', 'to', 'Busan', 'Metropolitan', 'City']
['Hello', 'My name is DongMin', 'Good to see you again']
['Apple', 'Banana', 'Melon', 'Orange']